*

!.gitignore
!.gitattributes
!Readme.md

# gitmodules 関連
!.gitmodules.d
!.gitmodules.d/.gitignore
!.gitmodules

# vim 関連
!.vimrc
!.vim
!.vim/.gitignore
!union.plugins.vim
!union.settings.vim
!filer.vim
!gitgutter.vim
!tcomment.vim
